* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
	padding: 2px;
	color: white;
	background-color: #0074e8;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 5px;
	color: white;
	background-color: #0074e8;
	text-align: center;
	z-index: 1;
}

#sidenav {
	height: 100%;
	width: 20%;
	position: fixed;
	z-index: 1;
	top: 1;
	left: 0;
	padding: 20px;
	overflow-x: hidden;
	background-color: #eee;
}

#main-column {
	height: 100%;
	width: 70%;
	position: fixed;
	top: 1;
	left: 20%;
	padding: 15px;
	background-color: white;
}

#right-column {
	height: 100%;
	width: 10%;
	position: fixed;
	top: 1;
	right: 0;
	padding: 15px;
    	background-color: #eee;
    	font-size: large;
}

table {
	width: 70%;
}

table, th {
	border: 1px solid white;
	background-color: #006fa4;
	color: white;
	border-collapse: collapse;
	padding: 4px;
}

table, td {
	border: 1px solid black;
	color: black;
	border-collapse: collapse;
	padding: 4px;
}

table tr:nth-child(even) {
	background-color: #eee;
}

table tr:nth-child(odd) {
	background-color: #fff;
}

#featured-products td {
	padding: 10px;
	font-size: large;
}

#text-field {
	padding: 5px;
	border-radius: 10px;
	border: 1px solid #0000ff
}

#button {
	padding: 5px 10px;
	background-color: #f44336;
	border: 2px solid #f44336;
	color: white;
	font-weight: bold;
}

#button:hover {
	background-color: red;
}

#styleLink:link, #styleLink:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


#styleLink:hover, #styleLink:active {
    background-color: red;
}

#styleAddToCartLink:link, #styleAddToCartLink:visited {
    background-color: #00c600;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


#styleAddToCartLink:hover, #styleAddToCartLink:active {
    background-color: #00b900;
}

#smallStyleAddToCartLink:link, #smallStyleAddToCartLink:visited {
    background-color: #00c600;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#smallStyleAddToCartLink:hover, #smallStyleAddToCartLink:active {
    background-color: #00b900;
}


#x-smallStyleAddToCartLink:link, #x-smallStyleAddToCartLink:visited {
    background-color: #00c600;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#x-smallStyleAddToCartLink:hover, #x-smallStyleAddToCartLink:active {
    background-color: #00b900;
}

#x-smallStyleDeleteLink:link, #x-smallStyleDeleteLink:visited {
    background-color: #f44336;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#x-smallStyleDeleteLink:hover, #x-smallStyleDeleteLink:active {
    background-color: red;
}

a:hover {
    color: #ff8040;
}
